<!DOCTYPE html>
<html>
    <head>
        <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    </head>
    <body>
        <h1><%=@art.title%></h1>
        <%= image_tag attachments[@art.photo.filename.to_s].url%>
        <%=@art.description.truncate(50)%>

        
        <a href=<%="#{Rails.application.config.front_end}art/#{@art.id}"%>>Check it Out Here</a>

        <a href=<%="#{Rails.application.config.front_end}unsubscribe/#{@unsubscribe}"%>>Unsubscribe</a>
    </body>
</html>